.post-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.post-container ul{
    padding: 0;
}

.post-list{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 2%;
    margin: 0 0 0 11.5%;
}

.post{
    background-color: #D9D9D9;
    width: 25%;
    height: 30%;
    position: relative;
    margin: 1%;
}

.post .close{
    color: red;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 8px;
}

.post-title p{
    margin: 5px 5px;
}

.post-image{
    width: 100%;
    height: 100%;
    
}

.post-image img{
    width: 95%;
    height: 250px;
    position: relative;
    left: 2.5%;
}

.post-detail{
    border: black solid;
    border-width: 2px 0 0 0;
}

.post-detail p{
    margin: 5px 5px;
}

.post-detail img{
    width: 20px;
}

.post-detail span{
    margin-left: 5px;
    color: rgb(188, 137, 19);
}

.btn-edit{
    background-color: #DDA280;
    border-radius: 7px;
    border-color: black;
    width: 3.5rem;
    height: 30px;
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 5px;
    right: 5px;
}

.popupDelete{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popupDelete-content{
    background-color: #D9D9D9;
    border: 1px solid #888;
    margin: auto;
    padding: 10px;
    width: 15rem;
    height: 15%;
}

.btn-delete{
    position: relative;
    left: 5%;
    background-color: #F92C2C;
    border-radius: 7px;
    border-color: black;
    cursor: pointer;
    width: 70px;
    height: 35px;
}

.btn-cancel{
    position: relative;
    left: 35%;
    background-color: #BFBFBF;
    border-radius: 7px;
    border-color: black;
    cursor: pointer;
    width: 70px;
    height: 35px;
}

.popupDelete-content p{
    display: flex;
    justify-content: center;
}

.popupEdit{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popupPost{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content{
    background-color: #D9D9D9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    height: auto;
}

.popup-content .close{
    color: red;
    position: absolute;
    top: 11%;
    right: 31.5%;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
}

.img-content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-upload{
    position: relative;
    top: 2%;
    width: 100%;
    height: 300px;
    padding-inline: 0px;
    padding-block: 0px;
    cursor: pointer;
} 

.newImg{
    width: 100%;
    height: 100%;
}

.newPost{
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.btn-confirm{
    float: right;
    background-color: #88DD80;
    border-radius: 7px;
    border-color: black;
    cursor: pointer;
    width: 3rem;
    height: 30px;
}

.btn-plus{
    border: none;
    justify-content: center;
    align-items: center;
    background-color: unset;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.icon-plus{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 930px){
    .post{
        width: 40%;
    }
}